button {
    width: 40;
}

button.red {
    background-color: red;
    color: white;
}

button.blue {
    background-color: blue;
    color: white;
}

button.yellow {
    background-color: yellow;
    color: black;
}

button.green {
    background-color: green;
    color: white;
}
